<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead">
    <meta charset="UTF-8">
    <title>article</title>
</head>
<body>
<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表格</strong> /
                <small>Table</small>
            </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-6">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增
                        </button>
                        <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-check"><input type="checkbox"/></th>
                            <th class="table-id">ID</th>
                            <th class="table-title">标题</th>
                            <th class="table-author am-hide-sm-only">作者</th>
                            <th class="table-date am-hide-sm-only">发布日期</th>
                            <th class="table-set">操作</th>
                        </tr>
                        </thead>
                        <tbody th:each="a,astat:${articles.list}">
                        <tr>
                            <td><input type="checkbox"/><input type="hidden" th:value="${a.id}"/></td>
                            <td th:text="${astat.index + 1}"></td>
                            <td><a href="#" th:text="${a.title}"></a></td>
                            <td class="am-hide-sm-only" th:text="${a.userVo.fullname}"></td>
                            <td class="am-hide-sm-only" th:text="${dateUtil.dateFormat(a.addTime, 'yyyy-MM-dd')}"></td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <a th:href="@{'/admin/article/'+${a.id}}"
                                           class="am-btn am-btn-default am-btn-xs am-text-secondary"><i
                                                class="am-icon-pencil-square-o"></i> <span>编辑</span></a>
                                        <a class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><i
                                                class="am-icon-trash-o"></i> <span>编辑</span></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:replace="comm/macros :: pageAdminNav(${articles})"></div>
                    <hr/>
                </form>
            </div>

        </div>
    </div>

    <footer class="admin-content-footer">
        <hr>
        <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

</div>
<!-- content end -->
</body>
</html>