<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" th:href="@{/admin/assets/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/admin/assets/i/app-icon72x72@2x.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" th:href="@{/admin/assets/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/css/amazeui.datatables.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/assets/css/app.css}">
    <script th:src="@{/admin/assets/js/jquery.min.js}"></script>
    <script th:src="@{/admin/js/base.js}"></script>
    <link th:href="@{//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.css}" rel="stylesheet"/>
    <script th:src="@{//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.js}"></script>
    <script th:src="@{/admin/assets/js/amazeui.min.js}"></script>
    <script th:src="@{/admin/assets/js/amazeui.datatables.min.js}"></script>
    <script th:src="@{/admin/assets/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/admin/assets/js/app.js}"></script>
    <style>
        .swal2-container {
            z-index: 9999 !important;
        }
    </style>
</head>
<body>

</body>
</html>