<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead">
    <meta charset="UTF-8">
    <title>plan</title>
</head>
<body>
<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表格</strong> /
                <small>Table</small>
            </div>
        </div>

        <hr>

        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-6">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <button type="button" class="am-btn am-btn-default" onclick="modifyPlan()">
                            <span class="am-icon-plus"></span> 新增
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-check"><input type="checkbox"/></th>
                            <th class="table-id">ID</th>
                            <th class="table-title">标题</th>
                            <th class="table-date am-hide-sm-only">开始日期</th>
                            <th class="table-date am-hide-sm-only">到期日期</th>
                            <th class="table-type">状态</th>
                            <th class="table-set">操作</th>
                        </tr>
                        </thead>
                        <tbody th:each="plan,planStat:${plans.list}">
                        <tr>
                            <td><input type="checkbox"/><input type="hidden" th:value="${plan.id}"/></td>
                            <td th:text="${planStat.index + 1}"></td>
                            <td><a href="#" th:text="${plan.title}"></a></td>
                            <td class="am-hide-sm-only"
                                th:text="${dateUtil.dateFormat(plan.startTime, 'yyyy-MM-dd')}"></td>
                            <td class="am-hide-sm-only"
                                th:text="${dateUtil.dateFormat(plan.endTime, 'yyyy-MM-dd')}"></td>
                            <td th:if="${plan.startTime} lt ${new java.util.Date()} and ${plan.endTime} gt ${new java.util.Date()} ">进行中</td>
                            <td th:if="${plan.startTime} gt ${new java.util.Date()}  ">未开始</td>
                            <td th:if="${plan.endTime} lt ${new java.util.Date()}  ">已结束</td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary"
                                                th:onclick="'modifyPlan('+${plan.id}+');'">
                                            <span class="am-icon-pencil-square-o"></span> 编辑
                                        </button>
                                        <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"
                                                th:onclick="'delPlans('+${plan.id}+')'">
                                            <span class="am-icon-trash-o"></span> 删除
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div th:replace="comm/macros :: pageAdminNav(${plans})"></div>
                    <hr/>
                </form>
            </div>

        </div>
    </div>

    <div th:replace="comm/footer::htmlfooter"></div>
</div>
<div class="am-popup" id="addPlan">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title"></h4>
            <span data-am-modal-close
                  class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
            <form id="planForm" class="am-form" data-am-validator>
                <fieldset>
                    <input type="hidden" name="id" id="doc-vld-id-2"/>
                    <div class="am-form-group">
                        <label for="doc-vld-name-2">计划：</label>
                        <input type="text" id="doc-vld-name-2" name="title" placeholder="输入计划" required/>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-vld-ta-2">简介：</label>
                        <textarea id="doc-vld-ta-2" maxlength="100" name="content" placeholder="最多输入100字"
                                  required></textarea>
                    </div>

                    <div class="am-form-group">
                        <div class="am-alert am-alert-danger" id="my-alert" style="display: none">
                            <p>开始日期应小于结束日期！</p>
                        </div>
                    </div>

                    <div class="am-form-group" style="height: 35px">
                        <div class="am-u-sm-6">
                            <button type="button" class="am-btn am-btn-default am-margin-right" id="my-start">开始日期
                            </button>
                            <span id="my-startDate"></span><input type="hidden" name="startTime" id="startTime"/>
                        </div>
                        <div class="am-u-sm-6">
                            <button type="button" class="am-btn am-btn-default am-margin-right" id="my-end">结束日期
                            </button>
                            <span id="my-endDate"></span><input type="hidden" name="endTime" id="endTime"/>
                        </div>
                    </div>

                    <button class="am-btn am-btn-secondary" type="button" onclick="editPlan()">提交</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/plan.js}"></script>
<!-- content end -->
</body>
</html>