<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead">
    <meta charset="UTF-8">
    <title>plan</title>
</head>
<body>
<script th:src="@{/assets/js/theme.js}"></script>
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">计划列表/plan</div>
                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button type="button" class="am-btn am-btn-default am-btn-success"
                                                onclick="modifyPlan()"><span
                                                class="am-icon-plus"></span> 新增
                                        </button>
                                        <button type="button" class="am-btn am-btn-default am-btn-danger"><span
                                                class="am-icon-trash-o"></span> 删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black "
                                   id="example-r">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>标题</th>
                                    <th>开始日期</th>
                                    <th>到期日期</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody th:each="plan,planStat:${plans.list}">
                                <tr class="gradeX">
                                    <input type="hidden" th:value="${plan.id}"/>
                                    <td th:text="${planStat.index + 1}"></td>
                                    <td><a href="#" th:text="${plan.title}"></a></td>
                                    <td th:text="${dateUtil.dateFormat(plan.startTime, 'yyyy-MM-dd')}"></td>
                                    <td th:text="${dateUtil.dateFormat(plan.endTime, 'yyyy-MM-dd')}"></td>

                                    <td th:if="${plan.startTime} lt ${new java.util.Date()} and ${plan.endTime} gt ${new java.util.Date()} ">
                                        <span class="am-badge am-badge-success am-radius">进行中</span></td>
                                    <td th:if="${plan.startTime} gt ${new java.util.Date()}  "><span
                                            class="am-badge am-badge-success am-radius">未开始</span></td>
                                    <td th:if="${plan.endTime} lt ${new java.util.Date()}  "><span
                                            class="am-badge am-badge-success am-radius">已结束</span></td>

                                    <td>
                                        <div class="tpl-table-black-operation">
                                            <a th:onclick="'modifyPlan('+${plan.id}+');'">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a th:onclick="'delPlans('+${plan.id}+')'"
                                               class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <!-- more data -->
                                </tbody>
                            </table>
                        </div>
                        <div th:replace="comm/macros :: pageAdminNav(${plans})"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="am-popup" id="addPlan">
    <div class="am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title"></h4>
            <span data-am-modal-close
                  class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
            <form id="planForm" class="am-form" data-am-validator>
                <fieldset>
                    <input type="hidden" name="id" id="doc-vld-id-2"/>
                    <div class="am-form-group">
                        <label for="doc-vld-name-2">计划：</label>
                        <input type="text" id="doc-vld-name-2" name="title" placeholder="输入计划" required/>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-vld-ta-2">简介：</label>
                        <textarea id="doc-vld-ta-2" maxlength="100" name="content" placeholder="最多输入100字"
                                  required></textarea>
                    </div>

                    <div class="am-form-group">
                        <div class="am-alert am-alert-danger" id="my-alert" style="display: none">
                            <p>开始日期应小于结束日期！</p>
                        </div>
                    </div>

                    <div class="am-form-group" style="height: 35px">
                        <div class="am-u-sm-6">
                            <button type="button" class="am-btn am-btn-default am-margin-right" id="my-start">开始日期
                            </button>
                            <span id="my-startDate"></span><input type="hidden" name="startTime" id="startTime"/>
                        </div>
                        <div class="am-u-sm-6">
                            <button type="button" class="am-btn am-btn-default am-margin-right" id="my-end">结束日期
                            </button>
                            <span id="my-endDate"></span><input type="hidden" name="endTime" id="endTime"/>
                        </div>
                    </div>

                    <button class="am-btn am-btn-secondary" type="button" onclick="editPlan()">提交</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/plan.js}"></script>
</body>
</html>